.modalContainer {
  position: fixed;
  width: 100vw;
  height: 100%;
  display: flex;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal {
  width: 90%;

  position: relative;
  width: 430px;
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.modal__head {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.modal__close {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 24px;
  font-weight: 500;
  margin-right: 20px;
  margin-top: 20px;
  cursor: pointer;
  z-index: 2;
}

.modal__close:hover {
  color: hsl(0, 70%, 70%);
}
